<app-menu></app-menu>
<div class="tw-container tw-px-[9rem]">
    <div class="tw-flex tw-justify-center tw-gap-x-4 tw-mb-4 tw-text-lg">
        <label>
            <input type="radio" name="estado" value="1"
                class="tw-appearance-none tw-w-4 tw-h-4 tw-border tw-border-gray tw-rounded-full checked:tw-bg-dark-green checked:tw-border-transparent focus:tw-outline-none tw-transition tw-duration-200"
                (change)="filtrarPorEstado('Aceptado')"> Aceptado
        </label>
        <label>
            <input type="radio" name="estado" value="2"
                class="tw-appearance-none tw-w-4 tw-h-4 tw-border tw-border-gray tw-rounded-full checked:tw-bg-dark-green checked:tw-border-transparent focus:tw-outline-none tw-transition tw-duration-200"
                (change)="filtrarPorEstado('Generado')"> Generado
        </label>
        <label>
            <input type="radio" name="estado" value="3"
                class="tw-appearance-none tw-w-4 tw-h-4 tw-border tw-border-gray tw-rounded-full checked:tw-bg-dark-green checked:tw-border-transparent focus:tw-outline-none tw-transition tw-duration-200"
                (change)="filtrarPorEstado('Rechazado')"> Rechazado
        </label>
    </div>

    <table class="tw-w-full tw-text-lg tw-text-left tw-text-gray">
        <thead class="tw-text-xs tw-text-white tw-uppercase tw-bg-dark-green">
            <tr class="tw-font-DMSans">
                <th class="tw-px-6 py-3 tw-rounded-s-lg tw-tracking-widest">ID Préstamo</th>
                <th scope="col" class="tw-px-6 tw-py-3 tw-tracking-widest">Capital</th>
                <th scope="col" class="tw-px-6 tw-py-3 tw-tracking-widest">Días</th>
                <th scope="col" class="tw-px-6 tw-py-3 tw-tracking-widest tw-rounded-e-lg">Estado</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let prestamo of prestamosFiltrados" class="tw-border-b">
                <td scope="row" class="tw-px-6 tw-py-4 tw-font-medium tw-text-gray-900 tw-whitespace-nowrap">{{
                    prestamo.idSolicitud }}</td>
                <td class="tw-px-6 tw-py-4">{{ prestamo.capital }}</td>
                <td class="tw-px-6 tw-py-4">{{ prestamo.dias.descripcion }}</td>
                <td class="tw-px-6 tw-py-4">{{ prestamo.estadoSolicitud.descripcion}}</td>
            </tr>
        </tbody>
    </table>
</div>
