<div class="container">
    <div class="mat-dialog-content" id="idFormModalidad">
        <div class="row">
            <mat-toolbar
                style="background-color: #1b424c ; border-top-left-radius: .5rem; border-top-right-radius: .5rem;">
                <span class="tw-text-white tw-font-DMSans tw-tracking-widest">Actualiza Solicitud de Prestamo</span>
            </mat-toolbar>
        </div>
        <div class="row" style="margin-top: 3%">
            <mat-form-field class="col-md-4">
                <mat-label>Capital</mat-label>
                <input matInput [(ngModel)]="objSolicitud.capital">
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <mat-label>Dias</mat-label>
                <mat-select [(ngModel)]="objSolicitud.dias!.idDataCatalogo">
                    <mat-option value="-1"> [Seleccione] </mat-option>
                    <mat-option *ngFor="let x of lstDias" [value]="x.idDataCatalogo">
                        {{x.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <mat-label>Monto a Pagar</mat-label>
                <input matInput [(ngModel)]="objSolicitud.montoPagar">
            </mat-form-field>
        </div>
        <div class="row" style="margin-top: 3%">
            <mat-form-field class="col-md-4">
                <mat-label>Fecha Inicio Prestamo</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="objSolicitud.fechaInicioPrestamo">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <mat-label>Fecha Fin Prestamo</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="objSolicitud.fechaFinPrestamo">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button type="submit" (click)="actualizar()"
                class="tw-mr-4 tw-w-32 tw-h-12 tw-text-lg tw-text-dark-green tw-text-center tw-border-2 tw-border-dark-green tw-rounded-[3rem] tw-font-DMSans tw-font-medium hover:tw-bg-dark-green hover:tw-text-white"
                [mat-dialog-close]="1">
                Actualiza
            </button>
            <button mat-button color="primary">
                Salir
            </button>
        </div>
    </div>
</div>