<app-menu></app-menu>
<div class="tw-px-[9rem] tw-py-10">
    <div class="row tw-mb-4">
        <mat-toolbar style="background-color: #1b424c ; border-top-left-radius: .5rem; border-top-right-radius: .5rem;">
            <span class="tw-text-white tw-font-DMSans tw-tracking-widest">Actualización de Solicitudes de
                Préstamo</span>
        </mat-toolbar>
    </div>
    <div class="tw-flex tw-justify-center">
        <button type="submit" (click)="refreshTable()"
            class="tw-p-5 tw-w-32 tw-text-lg tw-text-dark-green tw-text-center tw-border-2 tw-border-dark-green tw-rounded-[3rem] tw-font-DMSans tw-font-medium hover:tw-bg-dark-green hover:tw-text-white">Cargar</button>
    </div>
    <div class="row" style="margin-top: 3%">
        <div class="row" style="margin-top: 3%">
            <mat-table #table class="mat-cell" [dataSource]="dataSource">
                <ng-container matColumnDef="idSolicitud">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.idSolicitud }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="capital">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>Capital</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.capital }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="dias">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>Días</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.dias.descripcion}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="montoPagar">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>Monto A Pagar</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.montoPagar}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="fechaInicioPrestamo">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>Fecha Inicio Prestamo</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.fechaInicioPrestamo}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="fechaFinPrestamo">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>Fecha Fin Prestamo</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.fechaFinPrestamo}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="estadoSolicitud">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>Estado Solicitud</mat-header-cell>
                    <mat-cell *matCellDef="let aux">{{ aux.estadoSolicitud.descripcion}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
                    <mat-cell *matCellDef="let aux; let i = index;">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="idEstado_{{ aux.idSolicitud }}"
                                name="estado" [checked]="aux.estadoSolicitud.idDataCatalogo === 13"
                                (change)="actualizaEstado(aux)" />
                            <label class="custom-control-label" for="idEstado_{{ aux.idSolicitud }}"></label>
                        </div>
                    </mat-cell>

                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let aux; columns: displayedColumns"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[6,8,10]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>